[submodule "puppet/modules/phpqatools"]
	path = puppet/modules/phpqatools
	url = https://github.com/rafaelfelix/puppet-phpqatools
[submodule "puppet/modules/nginx"]
	path = puppet/modules/nginx
	url = https://github.com/jfryman/puppet-nginx.git
[submodule "puppet/modules/stdlib"]
	path = puppet/modules/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib.git
[submodule "puppet/modules/apt"]
	path = puppet/modules/apt
	url = https://github.com/puppetlabs/puppetlabs-apt
[submodule "puppet/modules/composer"]
	path = puppet/modules/composer
	url = git://github.com/tPl0ch/puppet-composer.git
[submodule "puppet/modules/pear"]
	path = puppet/modules/pear
	url = git://github.com/treehouseagency/puppet-pear
[submodule "puppet/modules/mysql"]
	path = puppet/modules/mysql
	url = https://github.com/puppetlabs/puppetlabs-mysql.git
